extends ../layout/layout

block header

    if product
        section(class="w-full flex justify-center gap-4") 
            div(class="w-4/12 bg-white rounded-xl p-4 flex gap-3 flex-col") 
                div
                    p(class="text-3xl")=product.nombre
                div(class="flex gap-3")
                    img(src=product.url, alt=product.nombre, class="border border-slate-700")
                    
                    div(class="flex flex-col justify-between py-3")
                        p=product.descripcion 
                        p $#{product.precio} arg
            
            div(class="w-1/5 bg-white rounded-xl p-4 flex flex-col justify-around")
                p(class=" text-2xl") aca va texto 
                p(class=" text-gray-800") Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi cum porro doloribus molestias, beatae enim quia esse explicabo tenetur voluptates veniam perferendis nulla!
                form(action="")
                    input(type="submit" value="comprar" class="bg-sky-500 hover:bg-sky-400 px-2 py-1 text-white shadow-md shadow-gray-500 transition duration-300 rounded-sm") 